<div class="footer">

    <div class="row">
        <div class="column">
            <h4>Contactgegevens </h4>
            <p>Camping adres blabla</p>
        </div>
        <div class="column">
            <h4>Kaartje</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.779319214981!2d5.162106526519568!3d49.80901637147685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ea7c3106d7fb05%3A0x51f75a3d383a6c25!2sCamping%20Maka%20(depuis%202021)!5e0!3m2!1snl!2snl!4v1701721421178!5m2!1snl!2snl" width="93%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>


</div>