<!-- <p>Hoofdsteden</p>
<app-camping-invoer (campingCreate)="onCampingCreated($event)"></app-camping-invoer>
<app-camping [campingList]="campings"></app-camping>

<app-child (uitvoerCreate)="onAdressCreated($event)"></app-child>
<app-parent [adressList]="adresses"></app-parent> -->


<body>
    <div class="page-framework">
        <div class="navigation">
            <ul>
                <li><a routerLink="/">Parent</a></li>
                <li><a routerLink="/child">Geselecteerde campings</a></li>
                <li><a routerLink="/child2">child2</a>
                    <ul>
                        <li>TEst</li>
                        <li>TEST2</li>
                    </ul>
                </li>

            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
    <app-footer>
        
    </app-footer>
</body>