/* body {
    background: lightgreen;
} */

.page-framework {
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

.navigation {
    width: 80%;
    margin: auto;
    background-color: lightgreen;

}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    display: inline-block; /* Makes the list items align horizontally */
    margin-right: 10px; /* Adds some space between the items */
    padding: 15px;
    position: relative;
}

.navigation ul li ul {
    display: none;
    
}

.navigation ul li:hover {
    background-color: green;
}

.navigation ul li:hover ul {
    display: block;
    margin-top: 15px;
    width: 200px;
    left:0;
    position:absolute;

}


.navigation ul li:hover ul li {
    display: block;
    background-color: red;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color:black;
    text-align: left;
    height: 100px;
}


.column {
    float: left;
    width: 100%;
}

.row {
    display: table;
}