<!-- <p>child works!</p> -->
<!-- 
<p>
    <label for="ChildInvoer">Voer adres in: </label>
    <input type="text" id="ChildInvoer" [(ngModel)]="ChildInvoerModel" />
    <button (click)="onChildInvoer()">Versturen</button>
</p> -->

<div class="title">
    <p>Geselecteerde campings</p>
</div>
<div class="camping-afbeelding">
    <img src="assets/camping_fun_h.webp" alt="wildcamping" width="100%" height="100%">
</div>
<div class="camping-table">
    <table>
        <tr>
            <th>Camping</th>
            <th>Adres</th>
            <th>Website</th>
        </tr>
        <tr>
            <td>De Karnemelkplaats</td>
            <td>Voorweg1 1759 NX Callantsoog Nederland</td>
            <td><a href="https://www.karnemelkplaats.nl">Link</a></td>
        </tr>
        <tr>
            <td>Tro Do We</td>
            <td>Rue Tro Do We 2 6687 Bertogne België</td>
            <td><a href="https://www.trodowe.nl">Link</a></td>
    </table>
</div>